{% extends "layout.html" %}
   {% block titulo %}Pagina about {% endblock %}
   
   {% block contenido %}
   
   <h2><center>Bienvenido  <br>
    Estas en la vista about </center></h2>
    <p>&nbsp;</p>
<p>&nbsp;</p>

    <h3><center>Esta es una aplicación realizada para la materia de Servicios en la nube  <br>
       la cual fue desarrollada con python usando el framework "Flask", y su objetivo fue  <br>
       llevar a ala practica el funcionamiento de hosting en la nube ofrecido con heroku la a  <br>
       pp cuenta con funciones CRUD para libro, autor, genero, autor y editorial. </center></h3>



       <p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

   {% endblock %}
