{% extends "layout.html" %} 

{% block contenido %}

<head>
    <link rel="icon" href="{{url_for('static',filename = 'images/mainLog.png')}}"  type="image/x-icon" />
    <title> Catalogo autor</title> 
</head>

<style>
    #mod{ background-color: seashell;}

 </style>

<h2><center>Lista de autores registrados  </center></h2>

<p id="mod"><center>
    
    <table class="styled-table" styles="width:100%">
        <thead>
        <tr>
            <td> Nombre del autor</td>
            <td> Fecha de nacimiento </td>
            <td> Nacionalidad </td>
            
            </tr>
        </thead>

    {% for autor in Autor %}
    
    <p> 
        <tr>
            <td>{{autor.nombre_autor}}</td> 
            <td>{{autor.fecha_nac}}</td> 
            <td>{{autor.nacionalidad}}</td>
            
            <td><form action="/eliminarautor/{{autor.id_autor}}" >
                <input type="submit" value="Eliminar"> 
            </form></td> 

            <td><form action="/editaut/{{autor.id_autor}}" >
                <input type="submit" value="Editar"> 
            </form></td> 
        </tr>
    </p>
    {% endfor %}    
    </table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>  
</center></p>
{% endblock %}

